views/index.jade
extends layout

block content
  .page-header
    h1 Messages from Inbox

    #loader.hide Loading messages... Just wait a few seconds

    #paginator.hide Paginator:
      span#to
      span -
      span#from
      span#to-arrow.glyphicon.glyphicon-chevron-left.active-link.to
      span#from-arrow.glyphicon.glyphicon-chevron-right.active-link.from


  #container

views/index.html
<!DOCTYPE html><html><head><title></title><link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"><link rel="stylesheet" href="/stylesheets/style.css"></head><body><div class="page-header"><h1>Messages from Inbox</h1><div id="loader" class="hide">Loading messages... Just wait a few seconds</div><div id="paginator" class="hide">Paginator:<span id="to"></span><span>-</span><span id="from"></span><span id="to-arrow" class="glyphicon glyphicon-chevron-left active-link to"></span><span id="from-arrow" class="glyphicon glyphicon-chevron-right active-link from"></span></div></div><div id="container"></div><footer><script src="/javascripts/build/bundle.js"></script></footer></body></html>
